
.title-host{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;
}

.host-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.host-info img {
    border-radius: 50%;
    width: 22%;
    vertical-align: middle;
}


.title-name {
    font-size: 2em;
    margin: 1% 0;
}

.location{
    margin: 0;
    padding-bottom: 9px;
}

.description_more {
    display: flex;
    gap: 2%;
}

.tag {
    background-color: #FF6060; 
    border-radius: 20px;
    color: white;
    font-weight: 600;
    line-height: 25px;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
}

.rating_tag {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .description_more{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .rating_tag{
        display: flex;
        flex-direction: column;
    }

    
}