
.title-host{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title{
    display: flex;
    flex-direction: column;
    color: #FF6060;
}

.title-name {
    font-size: 30px;
}
.location {
    color: #000;
    margin: 0;
    font-size: 18px;
    margin-top: 20px;
}

.host {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap : 10px;
}


.host-info {
    font-size: 18px;
    color: #FF6060;
    text-align: end;
    
}

.host-name{
    padding-right: 10px;
}

.host-info img {
    border-radius: 50%;
    width: 30%;
    vertical-align: middle;
    row-gap: 20px;
}

.rating-stars{
    display: flex;
    margin-top: 20px;
}

.rating-stars img {
    padding-right: 12px;
}

.description_more {
    display: flex;
    justify-content: space-between;
}

.collapse{
    width: 48%;
}

.tag-section{
    margin-top: 20px;
    
}
.tag {
    background-color: #FF6060; 
    border-radius: 11px;
    color: white;
    font-weight: 600;
    line-height: 25px;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
}




/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .title-host{
        display: flex;
        flex-direction: column;
    }

    .host {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 30px;
    }
    .description_more{
        flex-direction: column;
        gap : 10px;
    }

    .collapse{
        width: 100%;
    }
    .rating-stars  {
        width: 90%;
    }

    .title-host {
        width: 100%;
    }

    
    .tag {
        border-radius: 8px;
        padding: 5px 10px 5px 10px;
    }
    
}