
.title-host{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;
}

.host-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.host-info img {
    border-radius: 50%;
    width: 22%;
    vertical-align: middle;
}


.title-name {
    font-size: 2em;
    margin: 1% 0;
}

.description_more {
    display: flex;
}

.tag {
    background-color: #FF6060;
    border-radius: 20px;
    color: white;
}

.rating_tag {
    display: flex;
    justify-content: space-between;
}

