.accommodation {
    border-radius: 20px;
    margin-top: 5%;
    box-sizing: border-box;
    background-color: #F6F6F6;
    padding-bottom: 3%;
    display: flex;
}

.accommodation-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.accommodation-card .card-link {
    width: 25%;
}

.accommodation-card img {
    height: 45vh;
    width: 100%;
    border-radius: 10px;
    margin-top: 10%;
    object-fit: cover;
}


.card {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.card-text {
    position: absolute;
    bottom: 0%;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding-left: 5%;
    line-height: 25px;
    font-size: 15px;
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .accommodation {
        background-color: #fff;
    }
    .accommodation-card .card-link {
    width: 100%;

}
}