.collapse-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}

.collapse{
    width: 60%;
}


.toggle{
    width: 100%;
    background-color: #fff;
    color: #000;
}

.info-collapse{
    padding: 10px 0 10px 10px;
    display: flex;
    color: #fff;
    font-weight: 600;
    line-height: 25px;
    background-color: #FF6060;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}

.arrow-collapse{
    display: flex;
    padding-right: 10px;
    align-items: center;
}

.arrow-collapse img {
    width: 15px;
}