.collapse-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
}

.collapse{
    width: 60%;
    color: #fff;
}


.toggle{
    width: 100%;
    background-color: #fff;
    color: #000;
}

.info-collapse{
    padding: 10px 0 10px 10px;
    display: flex;
    color: #fff;
    background-color: #FF6060;
    justify-content: space-between;
    border-radius: 10px;
}


.arrow-collapse{
    display: flex;
    align-items: end;
    padding-right: 10px;
    align-items: center;
}

.arrow-collapse img {
    width: 15px;
}