html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  min-height: 100vh;
}


.border-page {
  padding: 3% 8%;
  padding-bottom: 20.5rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2%;
}


.nav-logo {
  width: 15%;
  height: 15%;
}


.menu {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
  list-style-type: none;
  margin: 0;
}

.nav-bar {
  width: 100%;
  vertical-align: middle;
}

.nav-list {
  text-decoration: none;
  font-size: 20px;
  text-align: right;
  padding-right: 3%;
}

.nav-list a {
  text-decoration: none;
  color: #000000;
}


.main-page {
  min-height: 65vh;
}

.footer-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  font-weight: 500;
  line-height: 34px;
  height: 150px;
  position: absolute;
  bottom: 0;
}

.footer-logo {
  width: 80px;
  height: 24px;
  padding-top: 40px;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.banner img {
  width: 100%;
  object-fit: cover;
  height: 12rem;
  border-radius: 10px;
  filter: brightness(50%);
}

.banner-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 22%;
  transform: translate(-20%, -50%);
  z-index: 1;
  color: white;
  font-size: 48px;
  font-weight: 700;

}

.accommodation {
  border-radius: 20px;
  margin-top: 5%;
  box-sizing: border-box;
  background-color: #F6F6F6;
  width: 100%;
  height: auto;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
}

.accommodation-card img {
  height: 30vh;
  width: 30vh;
  border-radius: 10px;
  margin-top: 10%;
}

.accommodation-card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-list .active-nav {
  text-decoration: underline !important;
  text-underline-offset: 6px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

  .border-page {
    padding: 5% 5%;
    padding-bottom: 20.5rem;
  }

  .accommodation-card {
    gap: 0
  }

  .header-container {
    padding-bottom: 5%;
  }

  .nav-list {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    
  }

  .nav-logo {
    width: 27%;
    height: 27%;
  }

  
  .banner img {
  width: 100%;
  height: 7rem;
  }

  .banner-title {
  font-size: 24px;
  }

  
  .accommodation{
    background-color: #fff;
  }


  .accommodation-card img {
    height: 60vw;
    width: 90vw;
    object-fit: cover;
  }

  .error-page {
    min-height: 72vh;
  }

  .main-page{
    min-height: 72vh;
  }
}
